<template component="network-chart" data:url="./chart.json" node-filter:expr="" link-filter:expr="" width:number="700"
    height:number="400" node-size:expr="20" node-fill:expr="'red'">


    <% if (!data) { %>
    Loading...
    <% } else { %>
    <% data = JSON.parse(data.text) %>


    <%
 let nodes = nodeFilter ? data.nodes.filter(nodeFilter) : data.nodes
 let links = linkFilter ? data.links.filter(linkFilter) : data.links
console.log(links)

 %>

    <%
  nodes.forEach(d => {
    d.size = nodeSize(d)
    d.fill = nodeFill(d)
    console.log(d.fill, d.color)
  })
  %>


   

    <% 
        
  var svg = ""
  document.body.addEventListener('render', function (e) {
    if (!e.target.matches('network-chart')) return
 svg = d3.select('network-chart').append('svg')
    .attr('width', width)
    .attr('height', height)
    .attr('transform', 'translate(50,50)')
 
    var force = d3.layout.force() //build the layout
    .size([e.target.width, e.target.height])
    .nodes(nodes) //add nodes
    .links(links) //add links
    .on("tick", tick) //what to do
    .linkDistance(200) //set for proper svg size
    .charge(-300) // avoids overlapping
    .gravity(0.1)
    .start();

 <!-- alert(JSON.stringify(links)) -->
 var link = svg.selectAll('.link')
                    .data(links)
                    .enter().append('line')
                    .attr('class', 'link')
                    .attr('stroke', '#E5E8E8')
                    .attr('strokewidth', '1');

                    var dragstart = function (d) {
                        d.fixed = true
                        d3.select(this).classed("fixed", d.fixed = true);
                    };
    
                    var drag = force.drag().
                    on("dragstart", dragstart);
    
                    
    
                    function releasenode(d) {
                  d.fixed = undefined;
                  d.fixed = false;
              }
    
            //   function releasenodes(d) {
            //      debugger;
            //      d3.selectAll(".node .fixed").classed("fixed", d.fixed = false);
            //   }
              
                    // add the nodes
                    var node = svg.selectAll('.node')
                        .data(nodes) //add
                        .enter().append('circle')
                        .attr('class', 'node')
                        .attr('r', function (d, i) {
                            return  nodes[i].size;
                        })
                        .attr('fill',  nodeFill )
                        
                        .attr('strokewidth', function (d, i) {
                            if (i > 1) {
                                return '0';
                            } else {
                                return '2';
                            }
                        })
                        .attr('stroke', function (d, i) {
                            if (i > 1) {
                                return '';
                            } else {
                                return 'black';
                            }
                        })
                        .on("dblclick", releasenode)
                        .call(drag);
    
                    var label = svg.append("g")
                        .attr("class", "labels")
                        .selectAll("text")
                        .data(nodes)
                        .enter().append("text")
                        .attr("class", "label")
                        .text(function (d) {
                            return d.name;
                        })
                        .attr('text-anchor', function (d, i) {
                            return 'middle';
                        })
                        .attr('font-size', function (d, i) {
                            if (i > 1) {
                                return '.8em';
                            } else {
                                return '.9em';
                            }
                        })
    
    
                    function tick(e) {
    
                        node.attr('cx', function (d) {
                                return d.x;
                            })
                            .attr('cy', function (d) {
                                return d.y;
                            })
                            .call(force.drag);
    
                        link.attr('x1', function (d) {
                                return d.source.x;
                            })
                            .attr('y1', function (d) {
                                return d.source.y;
                            })
                            .attr('x2', function (d) {
                                return d.target.x;
                            })
                            .attr('y2', function (d) {
                                return d.target.y;
                            });
    
                        label
                            .attr("x", function (d) {
                                return d.x;
                            })
                            .attr("y", function (d) {
                                return d.y;
                            })
                            .style("font-size", "10px").style("fill", "#fff");
                    }
    
                });

 %>

    <% } %>

</template>