<template component="network-chart" data:url="" node-filter:rowexpr="" link-filter:rowexpr="" width:number="700"
  height:number="400" node-size:rowexpr="" node-fill:rowexpr="" node-tooltip:rowexpr="" node-label:rowexpr=""
  node-popover-title:rowexpr="" node-popover-content:rowexpr="" charge-strength:rowexpr="" k-partite:boolean="false">

  <% if (!data) { %>
  Loading...
  <% } else { %>
  <%
data = JSON.parse(data.text)
if (kPartite)
  data = kpartite(data)
let nodes = nodeFilter ? data.nodes.filter(nodeFilter) : data.nodes
let links = linkFilter ? data.links.filter(linkFilter) : data.links
setTimeout(() => constructSVG(nodes, links, width, height, nodeSize, nodeFill, nodeTooltip, nodeLabel, nodePopoverContent, nodePopoverTitle, chargeStrength), 0)


%>

  <% } %>



  <script>
    // TODO: Move this into a script section

    function kpartite(data) {
      data.columns = Object.keys(data[0])

      var nodeArray = [];
      var uniqueNames = [];
      var nodes = [],
        links = [],
        self = {
          nodes: nodes,
          links: links
        };

      var keys = {},
        cols = {},
        node_index = {},
        link_index = {};

      var i, row, j, lj, k, lk, key, key1, key2, value, vals, id, row_nodes, col_nodes, indices1, indices2, count

      count = 0;
      // Add a link between nodes[index1] and nodes[index2] referencing a data row
      function add_link(index1, index2, row) {
        var id = index1 + '\t' + index2
        if (id in link_index)
          links[link_index[id]].rows.push(row)
        else {
          link_index[id] = links.length
          id = id.split('\t')[0]
          links.push({
            source: nodes[index1].count,
            target: nodes[index2].count,
            id: id,
            rows: [row]
          })
        }
      }


      // Reset row indices
      nodes.forEach(function (node) {
        node.rows = []
      })
      links.forEach(function (link) {
        link.rows = []
      })


      for (i = 0; row = data[i]; i++) {
        row_nodes = {}
        // Create nodes {key, value, id, rows}
        var columns = {}
        keys = data.columns;
        for (key in keys) {
          col_nodes = row_nodes[key] = []
          vals = keys[key];
          vals = row[vals];
          if (!Array.isArray(vals))
            vals = [vals]

          var k = vals.length;

          for (j = 0, k < vals.length; j < k; j++) {
            value = vals[j]
            id = key + '\t' + value
            if (id in node_index)
              nodes[node_index[id]].rows.push(i)
            else {
              node_index[id] = nodes.length
              var sliptID = id.split("\t")[0] //splitting id and cityname
              nodes.push({
                count: count,
                key: key,
                value: value,
                id: sliptID,
                rows: [i]
              })
              count++;
            }
            col_nodes.push(node_index[id])
          }


        }
        // Link across columns
        for (key1 in keys) {
          indices1 = row_nodes[key1]
          lj = indices1.length
          for (key2 in keys)
            if (key2 > key1) {
              indices2 = row_nodes[key2]
              lk = indices2.length
              for (j = 0; j < lj; j++)
                for (k = 0; k < lk; k++)
                  add_link(indices1[j], indices2[k], i)
            }
        }

      }
      return {
        nodes,
        links
      }
    }

    function constructSVG(nodes, links, width, height, nodeSize, nodeFill, nodeTooltip, nodeLabel, nodePopoverContent,
      nodePopoverTitle, chargeStrength) {
      debugger;
      nodes.forEach(d => {
        d.size = nodeSize(d)
        d.fill = nodeFill(d)
      })

      var tooltip = d3.select("body")
        .append("div")
        .attr("class", "tooltip")
        .style("opacity", 0);

      // TODO: If there are multiple network-chart elements, this won't work!
      var svg = d3.select('network-chart').append('svg')
        .attr('width', width)
        .attr('height', height)
        .attr('transform', 'translate(50,50)')
        .append("g")
        .attr("class", "brush")
        .call(d3.brush()
          .extent([
            [0, 0],
            [width, height]
          ])
          .on("brush", brushed)
          .on("end", brushend))
        .on("dblclick", releaseAllNodes);


      var simulation = d3.forceSimulation()
        .force('link', d3.forceLink())
        .force("charge", d3.forceManyBody().strength(chargeStrength))
        .force("center", d3.forceCenter(width / 2, height / 2))
        .force("x", d3.forceX(width / 2).strength(1))
        .force("y", d3.forceY(height / 2).strength(1))

      var div = d3.select("#tooltipholder").append("div")
        .attr("class", "nodeInfo")
        .style("opacity", 0);


      var link = svg.selectAll('.link')
        .data(links)
        .enter().append('line')
        .attr('class', 'link')
        .attr('stroke', '#000')
        .attr('strokewidth', '1');

      var node = svg.selectAll('.node')
        .attr('class', 'nodes')
        .data(nodes)
        .enter().append('circle')
        .attr('r', nodeSize)
        .attr('fill', nodeFill)
        .on('mouseover.tooltip', function (d) {
          tooltip.transition()
            .duration(300)
            .style("opacity", .8);
          tooltip.html(nodeTooltip(d))
            // _ => nodeTooltip(d)
            .style("left", (d3.event.pageX) + "px")
            .style("top", (d3.event.pageY + 10) + "px");
        })
        .on("mouseout.tooltip", function () {
          tooltip.transition()
            .duration(100)
            .style("opacity", 0);
          d3.select(this)
            .attr("r", nodeSize)
          //hide node info popup after mouse out
          div.transition()
            .duration(100)
            .style("opacity", 0);
        })
        .on("click", click)
        .on('dblclick', releasenode)
        .call(d3.drag()
          .on('start', dragstarted)
          .on('drag', dragged)
          .on('end', dragended))

      var popover = node
        .attr("tabindex", "0")
        .attr("data-container", "body")
        .attr("data-html", "true")
        .attr("data-toggle", "popover")
        .attr("data-placement", "bottom")
        .attr("data-trigger", "focus")
        .attr("title", nodePopoverTitle)
        .attr("data-content", nodePopoverContent);

      function click(d) {
        // Enables popover
        $("[data-toggle=popover]").popover(d);
        tooltip.transition()
          .duration(100)
          .style("opacity", 0);
      }

      function brushed() {
        var extent = d3.event.selection;
        node.style("stroke", function (d) {
          var evaluation = extent[0][0] <= d.x && d.x < extent[1][0] &&
            extent[0][1] <= d.y && d.y < extent[1][1];
          if (evaluation == true) {
            return "red"
          } else {
            return d3.select(this).attr(nodeFill);
          }

        });
        $target.dispatchEvent(new CustomEvent('brush', {
          detail: {
            nodes: node
          }
        }))
      }

      function brushend() {
        $target.dispatchEvent(new CustomEvent('brushend', {
          detail: {
            nodes: node
          }
        }))
      }

      var label = svg.append("g")
        .attr("class", "labels")
        .selectAll("text")
        .data(nodes)
        .enter().append("text")
        .attr("class", "label")
        //.text(function (d) {if(d.value.length > 5)return d.value.substring(0,5)+'...';elsereturn d.value;})
        .text(nodeLabel)
        .attr('text-anchor', function (d, i) {
          return 'middle';
        })
        .attr("dy", "0.35em")

      simulation
        .nodes(nodes)
        .on('tick', ticked)

      simulation.force('link')
        .links(links)


      function ticked() {
        link
          .attr('x1', function (d) {
            return d.source.x
          })
          .attr('y1', function (d) {
            return d.source.y
          })
          .attr('x2', function (d) {
            return d.target.x
          })
          .attr('y2', function (d) {
            return d.target.y
          })

        node
          .attr('cx', function (d) {
            return d.x
          })
          .attr('cy', function (d) {
            return d.y
          })

        label
          .attr("x", function (d) {
            return d.x;
          })
          .attr("y", function (d) {
            return d.y;
          })
          .style("font-size", "10px").style("fill", "#fff").style("pointer-events", "none");
      }
      //customEvent - when user releases the node
      function releasenode(d, e) {
        d.fx = null;
        d.fy = null
        d3.event.stopPropagation();
      }

      function dragstarted(d) {
        if (!d3.event.active) simulation.alphaTarget(0.1).restart()
        d.fx = d.x
        d.fy = d.y
      }

      function dragged(d) {
        d.fx = d3.event.x
        d.fy = d3.event.y
      }
      //when user pins the node - customEvent
      function dragended(d) {
        if (!d3.event.active) simulation.alphaTarget(0)
        d.fx = d3.event.x;
        d.fy = d3.event.y;
        d3.select(this).classed("fixed", d.fixed = true);
        $target.dispatchEvent(new CustomEvent('pin', {
          detail: {
            nodes: d
          }
        }))
      }

      function releaseAllNodes() {
        d3.selectAll('.fixed').each(releasenode);
        $target.dispatchEvent(new CustomEvent('releasenodes', {
          detail: {
            nodes: node
          }
        }))
      }
    }
  </script>

</template>