<template component="network-chart-v5" data:url="./chart.json" node-filter:rowexpr="" link-filter:rowexpr=""
    width:number="700" height:number="400" node-size:rowexpr=" " node-fill:rowexpr=" " node-tooltip:rowexpr=""
    node-label:rowexpr="" node-popover-title:rowexpr="" node-popover-content:rowexpr="">


    <% if (!data) { %>
    Loading...
    <% } else { %>
    <% data = JSON.parse(data.text) %>



    <%
 let nodes = nodeFilter ? data.nodes.filter(nodeFilter) : data.nodes
 let links = linkFilter ? data.links.filter(linkFilter) : data.links
console.log(JSON.stringify(nodeTooltip))

 %>

    <%
  nodes.forEach(d => {
    d.size = nodeSize(d)
    d.fill = nodeFill(d)
    console.log(d.fill, d.color)
  })
  %>




    <% 
        
  var svg = ""
  document.body.addEventListener('render', function (e) {
    if (!e.target.matches('network-chart-v5')) return

    var tooltip = d3.select("body")
	.append("div")
	.attr("class", "tooltip")
	.style("opacity", 0); 

   var svg = d3.select('network-chart-v5').append('svg')
    .attr('width', width)
    .attr('height', height)
    .attr('transform', 'translate(50,50)')
    .append("g")
    .attr("class", "brush")
    .call(d3.brush()
    .extent( [ [0,0], [width,height] ] ) 
    .on("brush", brushed));

  

    var simulation = d3.forceSimulation()
  .force('link', d3.forceLink())
   .force("charge", d3.forceManyBody().strength(-3000))
    .force("center", d3.forceCenter(width / 2, height / 2))
    .force("x", d3.forceX(width / 2).strength(1))
    .force("y", d3.forceY(height / 2).strength(1))

    var div = d3.select("#tooltipholder").append("div")	
    .attr("class", "nodeInfo")				
    .style("opacity", 0);

/*var link = svg.append('g')
  .attr('class', 'links')
  .selectAll('line')
  .data(links)
  .enter().append('line')
  .attr('stroke-width', function(d) {
    return Math.sqrt(d.value)
  })*/

var link = svg.selectAll('.link')
                    .data(links)
                    .enter().append('line')
                    .attr('class', 'link')
                    .attr('stroke', '#E5E8E8')
                    .attr('strokewidth', '1');
					
var node = svg.selectAll('.node')
  // svg.append('g')
  .attr('class', 'nodes')
  //.selectAll('circle')
  .data(nodes)
  .enter().append('circle')
  .attr('r', function (d, i) {
    return  nodes[i].size;
})
.attr('fill',  nodeFill )
.on('mouseover.tooltip', function(d) {
    tooltip.transition()
      .duration(300)
      .style("opacity", .8);
    tooltip.html(nodeTooltip(d))
    // _ => nodeTooltip(d)
      .style("left", (d3.event.pageX) + "px")
      .style("top", (d3.event.pageY + 10) + "px");

      //show node info on mouse over
      d3.select(this)
      .attr("r",20)
    div.transition()		
        .duration(200)		
        .style("opacity", .9);		
    div	.html('<div class=""><div class=""><h2 class="">'+d.name+'</h2></div><div class="">'+d.name+' Lorem ipsum dolor sit amet</div></div>')	
        .style("left", 0/*(d3.event.pageX)*/ + "%")		
        .style("top", /*(d3.event.pageY - 100)*/ 10 + "%");	
  })
.on("mouseout.tooltip", function() {
  tooltip.transition()
      .duration(100)
      .style("opacity", 0);
      d3.select(this)
              .attr("r", nodeSize)
     //hide node info popup after mouse out         
     div.transition()
     .duration(100)
     .style("opacity", 0);        
              
  })
  .on("click",click)
  .on('dblclick',releasenode)
  .call(d3.drag()
  .on('start', dragstarted)
  .on('drag', dragged)
  .on('end', dragended))

  var popover = node
  .attr("tabindex","0")
  .attr("data-container","body")
  .attr("data-html","true")
 .attr("data-toggle","popover") 
  .attr("data-placement","bottom")
  .attr("data-trigger","focus") 
  .attr("title",nodePopoverTitle)
  .attr("data-content",nodePopoverContent); 

  $('.popover').remove();

  function click(d){
    console.log(d);
        // Enables popover
        $("[data-toggle=popover]").popover(d);
        tooltip.transition()
      .duration(100)
      .style("opacity", 0);
  }
  
  function brushed(){
    var extent = d3.event.selection;
    node.style("stroke", function(d) {
        var evaluation = extent[0][0] <= d.x && d.x < extent[1][0]
            && extent[0][1] <= d.y && d.y < extent[1][1];
        if (evaluation == true) {
            return "red"
        } else {
            return d3.select(this).attr(nodeFill);
        }

    });
}
  
var label = svg.append("g")
.attr("class", "labels")
.selectAll("text")
.data(nodes)
.enter().append("text")
.attr("class", "label")
.text(nodeLabel)
.attr('text-anchor', function (d, i) {
    return 'middle';
})
.attr("dy","0.35em")

simulation
  .nodes(nodes)
  .on('tick', ticked)

simulation.force('link')
  .links(links)

function ticked() {
  link
    .attr('x1', function(d) {
      return d.source.x
    })
    .attr('y1', function(d) {
      return d.source.y
    })
    .attr('x2', function(d) {
      return d.target.x
    })
    .attr('y2', function(d) {
      return d.target.y
    })

  node
    .attr('cx', function(d) {
      return d.x
    })
    .attr('cy', function(d) {
      return d.y
    })

    label
                            .attr("x", function (d) {
                                return d.x;
                            })
                            .attr("y", function (d) {
                                return d.y;
                            })
                            .style("font-size", "10px").style("fill", "#fff").style("pointer-events","none");
}
//customEvent - when user releases the node
function releasenode(d) {
    debugger;
    d.fx = null;
    d.fy = null
}

function dragstarted(d) {
  if (!d3.event.active) simulation.alphaTarget(0.1).restart()
  d.fx = d.x
  d.fy = d.y
}

function dragged(d) {
  d.fx = d3.event.x
  d.fy = d3.event.y
}
//when user pins the node - customEvent
function dragended(d) {
  if (!d3.event.active) simulation.alphaTarget(0)
  d.fx = d3.event.x;
  d.fy = d3.event.y;
}
                });

 %>

    <% } %>

</template>